body {
  margin: 0;
  border: 2px solid black;
}

.banner {
  width: 50%;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 2rem;
}

.title {
  margin: 0;
}

.quiz{
  padding-top: 1rem;
  background-color: yellow;
  position: relative;
  
  
  

&__question{
  width: 90%;
    height:8rem;
    & img {
      position: absolute;
      border: 1px solid black;
      border-radius: 50%;
      right: 3%;
    }
}
  &__button1{
    position: absolute;
    left: 5%;
    border: 1px solid black;
    display: inline-block;
    width:40%;
    height:5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
      }
      &__button2{
        position:absolute;
        right:15%;
        border: 1px solid black;
        display: inline-block;
        width:40%;
        height:5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-align: center;
        padding-top: 1rem;
        font-weight: bold;
          }
}